.jumboColor {
  background-color: blue;
}

.jumboColor2 {
  background-color: green;
}

..jumbotron:nth-of-type(3) {
  background-color: red;
}

.col-green{
  border: solid 1px darkgreen;
  background-color: lightgreen;
  min-height: 650px;
  margin: 6.66;
}

.imgright{
  float:right;
}

.col-md-7{}

.left{
  float: left;
  text-align: center;
}

.left p{
  font-size: 12pt;
}

.left h1{
font-size: 14pt;
}
